* {
    margin: 0;
    padding: 0;
}
/*---------------------Generics-------------------*/
body{
    margin-top: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:cadetblue;
}

h1{
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

p{
    margin-top: 10px;
}

li {
    width: 100%;
    margin-top: 2px;
    overflow-wrap:anywhere;
}

hr{
    color: red;
    width: 75%;
    margin:auto;
}

h1{
    margin: 15px;
}

h2{
    margin-top: 15px;
    margin-bottom: 8px;
}

a{
    color:black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

form input{
    margin-bottom: 7px;
}

/*-------------------Classes-------------------*/

.mainDiv {
    width: 100%;
    min-width: 300px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;

    grid-column: 2 / span 1;
    text-align: center;
    overflow-y: auto;
    background-color: rgb(255, 255, 255, 0.5);
}

.menyDiv {
    width: 50%;
    min-width: 100px;
    height: fit-content;
    grid-column: 1 / span 1;
    text-align: center;

    background-color: rgb(255, 255, 255, 0.5);
}

.menyList{
    list-style-type:none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
}