
.App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". header ."
        ". menu ."
        ". content ."
        ". footer .";
}
    .App div {
        background-color: #61dafb;
        font-size: 30px;
        width: 100%;
        max-width: 1000px;
    }





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
